<div class="form-wrap">
  <div class="login-form">
    <form name="form" novalidate ng-submit="submit()">
      <div class="control-group ng-class:{error:form.username.$invalid}">
        <input type="email" class="login-field" value="" placeholder="Email" id="login-username" ng-model="username" name="username" autofocus required email/>
        <label class="login-field-icon fui-mail" for="login-email"></label>
        <span class="help-block" ng-show="form.username.$dirty && form.username.$error.required">Please input your email</span>
        <span class="help-block" ng-show="form.username.$dirty && form.username.$error.email">Please input a validate email address</span>
      </div>

      <div class="control-group">
        Please enter your email address. 
        You will receive a link to create a new password via email.
        <br />
        <br />
      </div>

      <button class="btn btn-primary btn-large btn-block" type="submit" ng-disabled="form.$invalid">Get New Password</button>
    </form>
  </div>
</div>