<div class="form-wrap">
  <div class="login-form">
  <form name="form" novalidate ng-submit="submit()">
    <div class="control-group ng-class:{error:form.username.$invalid}">
      <input type="email" class="login-field" value="" placeholder="Email" ng-model="username" name="username" id="login-username" autofocus required email yh-unique="{{username}}" />
      <label class="login-field-icon fui-mail" for="login-username"></label>
      <span class="help-block" ng-show="form.username.$pristine && false">An active link will be e-mailed to you</span>
      <span class="help-block" ng-show="form.username.$dirty && form.username.$error.required">Please input your email</span>
      <span class="help-block" ng-show="form.username.$dirty && form.username.$error.email">Please input a validate email address</span>
      <span class="help-block" ng-show="form.username.$dirty && form.username.$error.unique">Email is already in use</span>
      <span class="help-block" ng-show="form.username.$dirty">Email will nerver ever be changed!</span>
    </div>
    <div class="control-group ng-class:{error:form.displayName.$dirty && form.displayName.$invalid}">
      <input type="text" class="login-field" value="" placeholder="Display Name" ng-model="displayName" name="displayName" id="login-displayName" required />
      <label class="login-field-icon fui-user" for="login-displayName"></label>
      <span class="help-block" ng-show="form.displayName.$dirty && form.displayName.$error.required">Please input your Display Name</span>
      <span class="help-block" ng-show="form.displayName.$dirty">Display Name will nerver ever be changed!</span>
    </div>
    <div class="control-group ng-class:{error:form.password.$dirty && form.password.$invalid}">
      <input type="password" class="login-field" value="" placeholder="Password" ng-model="password" name="password" id="login-password" required />
      <label class="login-field-icon fui-lock" for="login-password"></label>
      <span class="help-block" ng-show="form.password.$dirty && form.password.$error.required">Please input your Password</span>
    </div>
    <div class="control-group ng-class:{error:( form.password.$dirty || form.confirmPassword.$dirty) && form.confirmPassword.$invalid}">
      <input type="password" class="login-field" value="" placeholder="Confirm Password" ng-model="confirmPassword" name="confirmPassword" id="login-confirmPassword" required yh-match="password" />
      <label class="login-field-icon fui-lock" for="login-confirmPassword"></label>
      <span class="help-block" ng-show="form.confirmPassword.$error.match">Passwords don't match.</span>
    </div>

    <button class="btn btn-primary btn-large btn-block" type="submit" ng-disabled="form.$invalid">Sign Up</button>
  </form>
  </div>
</div>